.profile__edit-button {
    background-image: url("../../../images/editButton.svg");
    width: 24px;
    height: 24px;
    margin-bottom: 7px;
    box-sizing: border-box;
}

.profile__edit-button:hover {
    cursor: pointer;
    opacity: 0.6;
}