.profile {
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    padding-top: 36.25px;
    align-items: center;
}

@media (max-width: 768px) {
    .profile {
        padding-top: 38.25px;
        flex-direction: column;
    }
}