.input {
    outline: none;
    border: none;
    font-size: 14px;
    line-height: 17px;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    padding-bottom: 9px;
    width: 100%;
    box-sizing: border-box;
}